#post-content {
  padding: 40px paddingJustify;
  color: textColor;
  line-height: 1.8;
}
#post-content #more {
  display: none;
}
#post-content img {
  max-width: 100%;
}
#post-content code {
/* #424242 */
  color: #1976d2;
  font-weight: bold;
  background-color: rgba(224,224,224,0.5);
  padding: 0 0.2em;
  margin: 0 0.2em;
}
#post-content .line {
  height: 19px;
}
#post-content figure {
  margin-right: 0;
  margin-left: 0;
}
#post-content,
#post-content p {
  overflow: hidden;
  font-size: 15px;
  line-height: 1.7;
}
#post-content >*:first-child {
  margin-top: 0 !important;
}
#post-content >*:last-child {
  margin-bottom: 0 !important;
}
#post-content a {
  color: #2196f3;
}
#post-content a.absent {
  color: #c00;
}
#post-content a.anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin-left: -30px;
  padding-left: 30px;
  cursor: pointer;
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  position: relative;
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.7;
  cursor: text;
}
#post-content h1 tt,
#post-content h2 tt,
#post-content h3 tt,
#post-content h4 tt,
#post-content h5 tt,
#post-content h6 tt,
#post-content h1 code,
#post-content h2 code,
#post-content h3 code,
#post-content h4 code,
#post-content h5 code,
#post-content h6 code {
  font-size: inherit;
}
#post-content h1 .octicon-link,
#post-content h2 .octicon-link,
#post-content h3 .octicon-link,
#post-content h4 .octicon-link,
#post-content h5 .octicon-link,
#post-content h6 .octicon-link {
  display: none;
  color: #000;
}
#post-content h1 :hover a.anchor,
#post-content h2 :hover a.anchor,
#post-content h3 :hover a.anchor,
#post-content h4 :hover a.anchor,
#post-content h5 :hover a.anchor,
#post-content h6 :hover a.anchor {
  top: 15%;
  margin-left: -22px;
  padding-left: 0;
  line-height: 1;
  text-decoration: none;
}
#post-content h1 :hover a.anchor .octicon-link,
#post-content h2 :hover a.anchor .octicon-link,
#post-content h3 :hover a.anchor .octicon-link,
#post-content h4 :hover a.anchor .octicon-link,
#post-content h5 :hover a.anchor .octicon-link,
#post-content h6 :hover a.anchor .octicon-link {
  display: inline-block;
}
#post-content h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
}
#post-content h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}
#post-content h3 {
  font-size: 1.5em;
}
#post-content h4 {
  font-size: 1.2em;
}
#post-content h5 {
  font-size: 1em;
}
#post-content h6 {
  font-size: 1em;
  color: #777;
}
#post-content p,
#post-content blockquote,
#post-content ul,
#post-content ol,
#post-content dl,
#post-content table {
  margin: 15px 0;
}
#post-content hr {
  height: 0.25em;
  margin: 24px 0;
  padding: 0;
  border: 0;
  background-color: #e7e7e7;
}
#post-content li p.first {
  display: inline-block;
}
#post-content ul,
#post-content ol {
  overflow: hidden;
  padding-left: 30px;
  font-size: 15px;
  line-height: 1.7;
}
#post-content ul.no-list,
#post-content ol.no-list {
  padding: 0;
  list-style-type: none;
}
#post-content ul ul,
#post-content ul ol,
#post-content ol ol,
#post-content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
#post-content dl {
  padding: 0;
}
#post-content dl dt {
  margin-top: 15px;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
#post-content dl dd {
  margin-bottom: 15px;
  padding: 0 15px;
}
#post-content blockquote {
  padding: 0 15px;
  font-style: normal;
  color: #777;
  border-left: 4px solid #ddd;
}
#post-content blockquote>:first-child {
  margin-top: 0px;
}
#post-content blockquotee>:last-child {
  margin-bottom: 0px;
}
#post-content table {
  display: block;
  overflow: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
#post-content table th {
  font-weight: bold;
}
#post-content table th,
#post-content table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
#post-content table tr {
/*    display: table;*/
  background-color: #fff;
}
#post-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#post-content img {
  box-sizing: border-box;
  max-width: 100%;
  -moz-box-sizing: border-box;
}
#post-content span.frame {
  display: block;
  overflow: hidden;
}
#post-content span.frame >span {
  display: block;
  float: left;
  overflow: hidden;
  width: auto;
  margin: 13px 0 0;
  padding: 7px;
  border: 1px solid #ddd;
}
#post-content span.frame span img {
  display: block;
  float: left;
}
#post-content span.frame span span {
  display: block;
  clear: both;
  padding: 5px 0 0;
  color: #333;
}
#post-content span.align-center {
  display: block;
  clear: both;
  overflow: hidden;
}
#post-content span.align-center >span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
#post-content span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
#post-content span.align-right {
  display: block;
  clear: both;
  overflow: hidden;
}
#post-content span.align-right >span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
#post-content span.align-right span img {
  margin: 0;
  text-align: right;
}
#post-content span.float-left {
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 13px;
}
#post-content span.float-left span {
  margin: 13px 0 0;
}
#post-content span.float-right {
  display: block;
  float: right;
  overflow: hidden;
  margin-left: 13px;
}
#post-content span.float-right >span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}
#post-content tt {
  margin: 0 2px;
  padding: 0px 5px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.04);
}
#post-content pre {
  overflow: auto;
  padding: 16px;
/* background-color: #f7f7f7; */
  font-size: 13px;
  line-height: 19px;
  border-radius: 3px;
}
#post-content pre code {
  background-color: inherit;
  padding: 0 1em;
  padding-left: 3.8em;
  margin: 0;
}
#post-content .gutter {
  display: block;
  overflow: auto;
  padding: 0;
/*  background: #f7f7f7;*/
  font-size: 13px;
  line-height: 19px;
  border: none;
  border-radius: 0;
}
#post-content .gutter {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#post-content .gutter pre,
#post-content .code pre {
  display: block;
  margin: 0;
}
#post-content pre tt {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
#post-content .gist-file table {
  margin: 0;
}
#post-content .gist-file table td {
  border: none;
}
#post-content .gist-file table tr:nth-child(2n) {
  background-color: #fff;
}
@media (max-width: 768px) {
  #post-content {
    padding-left: paddingJustifyMiddle;
    padding-right: paddingJustifyMiddle;
  }
  #post-content,
  #post-content p {
    overflow: hidden;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  #post-content {
    padding-left: paddingJustifyMobile;
    padding-right: paddingJustifyMobile;
  }
  #post-content,
  #post-content p {
    overflow: hidden;
    font-size: 17px;
  }
  #post-content h1 {
    font-size: 2em;
  }
  #post-content h2 {
    font-size: 1.6em;
  }
  #post-content h3 {
    font-size: 1.2em;
  }
  #post-content h4 {
    font-size: 1em;
  }
  #post-content h5 {
    font-size: 0.9em;
  }
  #post-content h6 {
    font-size: 0.8em;
  }
}
