* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: "微软雅黑", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
}

#loading {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 233;
    background-color: #ccc;
    vertical-align: middle;
    color: #257FF2;
    padding-top: 0;
}

#loading h2 {
    vertical-align: middle;
    padding-top: 0;
}

#loading .dott {
    animation: jump 1.5s infinite ease-in;
    -webkit-animation: jump 1.5s infinite ease-in;
}
#loading .dott2 {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}
#loading .dott3 {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0);
    }
    35% {
        transform: translate3d(0, -.5em, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    35% {
        -webkit-transform: translate3d(0, -.5em, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

h2 {
    font-size: 1.5em;
    text-indent: 1.5em;
    padding-top: 2em;
}

.neon {
    color: #257FF2;
    background-image: -webkit-linear-gradient(92deg, #257FF2, #053675);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.myAnimate {
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-slide-active.canAnimate .myAnimate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible;
}

.table {
    width: 100%;
    padding-top: 3em;
}

.table-cell {
    text-align: center;
    height: 2.5em;
}

.article {
    font-size: 1em;
    text-indent: 2em;
    padding: 2em;
    width: 100%;
}

.big {
    font-size: 2em;
}


/*
    page1 start
*/

.page1 .hgroup {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.hgroup span {
    display: inline-block;
}

.page1 h1 {
    font-size: 2em;
}

.page1 h1>span {
    padding: 0 .2em;
}

.page1 h2 {
    font-size: 2em;
    letter-spacing: .2em;
    text-indent: 0;
    padding-top: 0;
}

.page1.table {
    padding-top: 0;
}


/*
    page1 end
*/


/*
    page2 start
*/

.page2 h2 {
    font-size: 1.5em;
    text-indent: 1.5em;
    padding-top: 2em;
}

.page2 .table-cell.title {
    width: 60%;
}

.page2 .table-cell.value {
    width: 40%;
    font-family: cursive, sans-serif;
}


/*
    page2 end
*/


/*
    page5 start
*/

#futureTable .table-cell {
    padding-left: 3em;
    text-align: left;
}


/*
    page5 end
*/


/*
    page7 start
*/

.page7 h2 span {
    display: inline-block;
}

.myRe {
    width: 90%;
    margin: 0 auto;
}


/*
    page7 end
*/

@media (max-width: 320px) {
    body {
        font-size: 16px;
    }
}


/*
    自己的东西，当然要任性了！
*/

@media (orientation:landscape) {
    body {
        display: none;
    }
    html:before {
        content: "请在手机端或者竖屏下浏览";
        font-size: 2em;
        color: #257FF2;
        top: 30%;
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
