<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->

  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href="/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/toastr.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/page.css" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
  <script src="../assets/js/ie8-responsive-file-warning.js"></script>
  <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="favicon.ico">

</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="/dashboard/index" class="site_title">
          <div class="blued_logo"></div>
        </a>
      </div>
      <div class="clearfix"></div>

      <!-- menu prile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <img src="https://dn-web-blued-cn.qbox.me/userfiles/004/239/999/15328!Head.jpg!720x720.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>Darren</h2>
        </div>
      </div>
      <!-- /menu prile quick info -->

      <div class="clearfix"></div>

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>管理员</h3>
          <ul class="nav side-menu">
            {{#each navmaping}}
            <li><a><i class="fa {{this.icon}}"></i> {{this.title}} <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                {{#each this.child_menu}}
                <li><a href="{{this.href}}">{{this.title}}</a></li>
                {{/each}}
              </ul>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <!-- /sidebar menu -->
    </div>
  </div>

      <!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="https://dn-web-blued-cn.qbox.me/userfiles/004/239/999/15328!Head.jpg!720x720.png" alt="">
            Darren
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
            <li><a href="javascript:;">  Profile</a>
            </li>
            <li>
              <a href="javascript:;">
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">Help</a>
            </li>
            <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->


      <!-- page content -->
      <div class="right_col" role="main">

        <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph x_panel">
      <div class="row x_title">
        <div class="col-md-6">
          <h3>海外用户相关 <small>数据展示</small></h3>
        </div>
        <div class="col-md-6">
          <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span></span> <b class="caret"></b>
          </div>
        </div>
      </div>

      <div class="row x_content">
        <p><code id="retentiondate"></code> 用户数量 <code id="retentionreg"> 计算中... </code></p>
        <div class="stats">
          <button class="btn btn-default" type="button" stats="daily">日数据</button>
          <button class="btn btn-default" type="button" stats="daily_platform">日手机终端</button>
          <button class="btn btn-default" type="button" stats="weekly">周数据</button>
          <button class="btn btn-default" type="button" stats="weekly_platform">周手机终端</button>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="retentionmain" style="width: 100%;height:500px;"></div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>


        <br />
<!-- footer content -->
<footer>
    <div class="pull-right">
        www.blued.com All Rights Reserved
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>
  </div>
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/echarts.min.js"></script>
  <script src="/js/nprogress.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/toastr.min.js"></script>

  <!-- daterangepicker -->
  <script type="text/javascript" src="/js/moment/moment.min.js"></script>
  <script type="text/javascript" src="/js/datepicker/daterangepicker.js"></script>

  <script src="/js/custom.js"></script>
  <script src="/js/page.js"></script>

  <script>
    NProgress.done();
  </script>


  <script src="/js/abroad.js"></script>

</body>
</html>
