.nav-md .left_col .blued_logo {
  background: url(https://dn-web-blued-cn.qbox.me/@/nwd/static/v5/v5_logo.png) no-repeat;
  background-size: 140px auto;
  background-position: 0 50%;
  height: 100%; }

.nav-sm .left_col .blued_logo {
  background: url(https://dn-web-blued-cn.qbox.me/@/nwd/static/v5/v5_logo.png) no-repeat;
  background-size: 50px auto;
  background-position: 0 50%;
  height: 100%; }

td.value-cell {
  min-width: 80px; }
