body {
  color: rgba(255, 255, 255, .8);
  background: #25a1c3;
  background: -moz-linear-gradient(left,#25a1c3 0,#64bc5b 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0,#25a1c3),color-stop(100%,#64bc5b));
  background: -webkit-linear-gradient(left,#25a1c3 0,#64bc5b 100%);
  background: -o-linear-gradient(left,#25a1c3 0,#64bc5b 100%);
  background: -ms-linear-gradient(left,#25a1c3 0,#64bc5b 100%);
  background: linear-gradient(to right,#25a1c3 0,#64bc5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25a1c3',endColorstr='#64bc5b',GradientType=1);
}

html, body {
  font-family: cursive;
  height: 100%;
  position: relative;
}

body>header {
  position: relative;
  width: 60%;
  margin: 0 auto;
  border: .1rem rgba(231,231,231,1) solid;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top: none;
  background-color: rgba(231,231,231,.05);
}

body>header>h1 {
  text-align: center;
  font-size: 3rem;
}

body>header>h2 {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: .5rem;
}

main {
  position: relative;
  max-width: 800px;
  margin: 2rem auto 0;
  padding: 0 2rem 3rem;
  border: .1rem rgba(231,231,231,1) solid;
  border-radius: 2rem;
  background-color: rgba(231,231,231,.05);
  font-size: 1.2rem;
}

main h1 {
  padding: 3rem 0 1.5rem;
  font-size: 2rem;
  text-align: center;
}

main .post-title:hover {
  border-left: .2rem solid rgba(255, 255, 255, 0.22);
}

main .date-title {
  float: right;
}

main .ds-thread-count {
  font-size: .8em;
  padding-left: 1em;
}

a.post-title {
  display: block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

footer {
  font-size: 1.6rem;
  padding-bottom: 2rem;
  text-align: center;
}

#go2top  {
  bottom: 20px;
  right: 50px;
  outline: none;
  cursor: pointer;
  border: none;
  display: block;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: rgba(255, 255, 255, .5);
  border: .2rem solid currentColor;
  font-size: 1.6em;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}
#go2top:before {
  content: "";
  display: block;
  position: absolute;
  border: .2rem solid currentColor;
  width: .8rem;
  height: .8rem;
  top: 37%;
  left: 31%;
  transform: rotate(135deg);
  border-top: none;
  border-right: none;
}
#go2top:hover {
  color: rgba(255, 255, 255, .8);
}
::selection {
  background-color: rgba(255, 255, 255, .2);
}
/*
  多说的默认样式
*/
#ds-thread * {
  text-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

#ds-thread #ds-reset a.ds-like-thread-button.ds-rounded {
  color: rgba(255, 255, 255, .8) !important;
  border: .1rem rgba(231,231,231,.23) solid !important;
  
  background: none !important;
}

#ds-reset li.ds-tab a.ds-current {
  border: .1rem rgba(231,231,231,.23) solid !important;
  background: none !important;
}

#ds-thread #ds-reset .ds-post-self {
  background: none !important;
  border-top: none !important;
}

#ds-thread #ds-reset .ds-time, #ds-thread #ds-reset .ds-comment-actions a, #ds-thread #ds-reset .ds-account-control span,#ds-thread #ds-reset a,#ds-thread #ds-reset .ds-sort a,#ds-thread #ds-reset .ds-textarea-wrapper textarea,#ds-thread #ds-reset a.ds-like-thread-button span {
  color: rgba(255, 255, 255, .8) !important;
}

#ds-thread #ds-reset .ds-account-control ul {
  background: none !important;
  border: none !important;
}

#ds-thread #ds-reset .ds-account-control.ds-active ul li a,#ds-thread #ds-reset li.ds-post,#ds-thread #ds-reset .ds-comments {
  background: none !important;
  border-top: none !important;
  border-bottom: 1px solid rgba(255,255,255,0.23);
}

#ds-thread #ds-reset .ds-textarea-wrapper,#ds-reset .ds-gradient-bg,#ds-thread #ds-reset .ds-post-options,#ds-thread #ds-reset .ds-meta,#ds-thread #ds-reset .ds-post-button {
  border: 1px solid rgba(255,255,255,0.23) !important;
  background: none !important;
}


#ds-thread #ds-reset .ds-post-button,#ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active,#ds-reset .ds-highlight,#ds-thread #ds-reset .ds-comment-body a:hover, #ds-thread #ds-reset .ds-account-control.ds-active span,#ds-thread #ds-reset .ds-sort a:hover {
  color: rgb(143, 42, 177) !important;
  background: none !important;
}
#ds-thread #ds-reset .ds-post-button:hover {
  color: rgb(140, 29, 177) !important;
  background: none !important;
}
#ds-thread #ds-reset #ds-bubble { 
  color: rgb(51, 51, 51) !important; 
  border: 1px solid rgb(170, 170, 170) !important;
  background-color: rgb(255, 255, 255) !important; 
}

#ds-thread #ds-reset #ds-bubble a { color: rgb(231, 112, 100) !important; }

#ds-thread #ds-reset #ds-bubble a:hover { color: rgb(221, 51, 34) !important; }

#ds-thread #ds-reset #ds-bubble .ds-arrow-border { border-top-color: rgb(170, 170, 170) !important; }