.article-list {
  color: #aaa;
}
.article-item {
  position: relative;
  line-height: 30px;
  margin: 15px 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  text-decoration: none;
  border-bottom: 1px dashed #666;
  &:last-of-type {
    border-bottom: none;
  }
}
.title-link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  border-bottom: none;
  transition: color .5s;
  &:hover {
    color: #eee;
  }
}
.title-name {
  flex: 1;
  padding-bottom: 5px;
}
.title-date {
  width: 150px;
  text-align: right;
}
.ds-thread-count {
  width: 80px;
  text-align: right;
}
