header {
  padding: 80px;
}
h1 {
  margin: .67em 0 5px;
  text-align: center;
  text-decoration: none;
}
h1 a {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #fff;
  text-decoration: none;
}
