header {
  padding: 80px;
  padding-top: 40px;
}
h1 {
  margin: .67em 0 5px;
  text-align: center;
  text-decoration: none;
}
h1 a {
  font-size: 30px;
  line-height: 1.25;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  border: none;
}
nav {
  margin-top: 50px;
  text-align: center;
  ul {
    font-size: 0;
    li {
      display: inline-block;
      margin: 0 20px;
      a {
        padding: 10px 30px;
        font-size: 20px;
        text-decoration: none;
        position: relative;
        border: none;
        &::before, &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 0;
          left: 50%;
          background-color: #fff;
          transition-property: left, width;
          transition-duration: .3s;
        }
        &:hover::before {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
