$color: #ccc;
body {
  background: #f1eedc;
  color: $color;
  background-image: url('../img/walltexture.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding-top: 40px;
}
.back-border {
  position: relative;
  background: #855e42 url('../img/woodtexture.jpg');
  background-size: 225px auto;
  border-radius: 10px;
  box-shadow: 5px 2px 15px rgba(0,0,0,.4);
  display: block;
  max-width: 1240px;
  font-family: '苹方', sans-serif;
  overflow: hidden;
}
.back-board {
}
.wrap {
  position: relative;
  margin: 40px;
  background: #000 url('../img/chalk.png') repeat;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5) inset;
  position: relative;
  background-size: 360px auto;
  border-radius: 10px;
  display: block;
  padding: 15px 100px 5px;
}
.main {
  header {
    padding: 0;
    // h2 {
    //   border-left: 2px solid $color;
    // }
  }
}
