$color: #eee;
*, ::before, ::after {
  box-sizing: border-box;
}
html {
  background: #f1eedc;
  color: #eee;
  background-image: url('../img/walltexture.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
  font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  position: relative;
  background: #855e42 url('../img/woodtexture.jpg');
  background-size: 225px auto;
  border-radius: 10px;
  box-shadow: 5px 2px 15px rgba(0,0,0,.4);
  display: block;
  margin: 40px auto;
  padding: 40px;
  max-width: 1240px;
}
.wrap {
  background: #000 url('../img/chalk2.jpg') repeat;
  background-size: 360px auto;
  border-radius: 10px;
  display: block;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5) inset;
  padding: 15px 100px 5px;
  z-index: 10;
}
