$cusColor: #333;
h5 {
  margin: 0;
}
.x_content {
  padding: 15px;
  padding-top: 0;
}
.date-picker {
  height: 26px;
  line-height: 26px;
}
.ln_solid {
  margin: 10px 0;
}
.ib {
  display: inline-block;
}
.data-type,
.data-area {
  min-width: 120px;
  height: 30px;
  margin-top: -2px;
  line-height: 30px;
}
.platform-type {
  min-width: 100px;
  height: 30px;
  margin-top: -2px;
  line-height: 30px;
}
.daterangepicker.dropdown-menu {
  margin-top: 0;
}
.date-picker-wrap {
  background: #fff;
  cursor: pointer;
  padding: 3px 10px;
  border: 1px solid #ccc;
}
.form-warp {
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  .col-md-9 {
    padding-left: 10px;
  }
}
.form-row {
  padding: 10px 0;
}
.data-type-wrap {
  line-height: 20px;
  height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.form-title {
  height: 30px;
  line-height: 30px;
}
.btn {
  border-radius: 0;
}
.date-picker {
  width: 100%;
  color: $cusColor;
}
.caret {
  position: absolute;
  right: 13px;
  top: 50%;
}

.show-list,
.group-list {
  padding: 10px;
  padding-top: 0;
  color: $cusColor;
  label {
    padding: 0 5px;
    display: inline-block;
    width: 5em;
    &.large {
      width: 9em;
    }
    &.middle {
      width: 6em;
    }
  }
}

// 投放地区选择 的样式
.tab-selector-wrap {
  padding: 15px;
  padding-top: 0;
  color: $cusColor;
  .ln_solid {
    margin: 5px 0;
  }
  label {
    font-weight: inherit;
  }
}
.tab-selector-title {
  padding-top: 10px;
  h6, span, button {
    margin: 0;
    display: inline-block;
  }
  h6 {
    width: 65%;
  }
  button {
    width: 15%;
    height: 25px;
    line-height: 25px;
    padding: 0;
    margin-right: 2%;
  }
  span {
    color: #999;
    text-align: center;
    width: 15%;
    cursor: pointer;
  }
}
.tab-selector-nav-list {
  padding: 5px 0;
  margin: 0;
  height: 35px;
  line-height: 25px;
  li {
    list-style-type: none;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin: 0 5px;
    * {
      cursor: pointer;
    }
    span {
      padding: 0 5px;
    }
    &:hover, &.selected {
      border-bottom-color: $cusColor;
    }
  }
}
.tab-selector-content-list {
  max-height: 150px;
  padding: 5px;
  overflow-y: auto;
}
.tab-selector-content {
  display: none;
}
.tab-selector-content-btn {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  span {
    padding: 5px;
  }
}
.search {
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
h5 {
  clear: both;
  padding-top: 10px;
}
.form-group {
  margin: 0;
}
// .form-group {
//   margin-bottom: 15px;
//   clear: both;
//   overflow: hidden;
// }
