*, ::before, ::after {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: inherit;
  border-bottom: 1px solid currentColor;
}
p {
  line-height: 1.7;
  margin: 0;
}
/*
  重置一些多说的默认样式
 */
#ds-reset, #ds-related-reads,
#ds-thread #ds-reset .ds-comment-actions a,
#ds-thread #ds-reset .ds-time,
#ds-thread #ds-reset a {
  color: #ccc!important;
}
#ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active {
  color: #eee!important;
  border-bottom: 1px solid #eee;
}
#ds-thread #ds-reset li.ds-tab a {
  text-shadow: none!important;
  &:hover {
    color: #eee!important;
  }
}
body #ds-reset .ds-highlight {
  color: #fff!important;
}
