.staticWrap {
  color: #212121;
  font-size: 13px;
  height: 96px;
  line-height: 24px;
  padding: 24px;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 72px;
}

.wrap {
  composes: staticWrap;
  text-align: left;
  position: absolute;
  bottom: 0;
  margin-top: 0;
  border-top: 1px solid #e0e0e0;
}

.desc {
  color: rgba(33, 33, 33, .5);
}
