<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>博客后台</title>

	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/datepicker3.css" rel="stylesheet">
	<link href="../css/styles.css" rel="stylesheet">

	<!--Icons-->

	<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Jarvis</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<svg class="glyph stroked male-user">
								<use xlink:href="#stroked-male-user"></use>
							</svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#">
									<svg class="glyph stroked male-user">
										<use xlink:href="#stroked-male-user"></use>
									</svg> Profile</a>
							</li>
							<li>
								<a href="#">
									<svg class="glyph stroked gear">
										<use xlink:href="#stroked-gear"></use>
									</svg> Settings</a>
							</li>
							<li>
								<a href="#">
									<svg class="glyph stroked cancel">
										<use xlink:href="#stroked-cancel"></use>
									</svg> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active">
				<a href="/">
					<svg class="glyph stroked table">
						<use xlink:href="#stroked-table"></use>
					</svg>博文列表</a>
			</li>
			<li>
				<a href="forms">
					<svg class="glyph stroked pencil">
						<use xlink:href="#stroked-pencil"></use>
					</svg>新博文</a>
			</li>
			<li>
				<a href="widgets">
					<svg class="glyph stroked calendar">
						<use xlink:href="#stroked-calendar"></use>
					</svg> Widgets</a>
			</li>
			<li>
				<a href="charts">
					<svg class="glyph stroked line-graph">
						<use xlink:href="#stroked-line-graph"></use>
					</svg> Charts</a>
			</li>
			<li>
				<a href="tables">
					<svg class="glyph stroked table">
						<use xlink:href="#stroked-dashboard-dial"></use>
					</svg> Tables</a>
			</li>
			<li>
				<a href="panels">
					<svg class="glyph stroked app-window">
						<use xlink:href="#stroked-app-window"></use>
					</svg> Alerts &amp; Panels</a>
			</li>
			<li>
				<a href="icons">
					<svg class="glyph stroked star">
						<use xlink:href="#stroked-star"></use>
					</svg> Icons</a>
			</li>
		</ul>

	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
					<a href="#">
						<svg class="glyph stroked home">
							<use xlink:href="#stroked-home"></use>
						</svg>
					</a>
				</li>
				<li class="active">博文列表</li>
				<li class="active">修改博文</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">修改文章</h1>
			</div>
		</div>
		<!--/.row-->


		<div class="row">
			<div class="col-xs-12">
				<form method="post" action="/update/<%= blog.id %>">
					<input type="hidden" id="blogPost" name="blogPost" value="<%= blog.postDate %>">
					<div class="row form-group">
						<div class="col-xs-6">
							<input class="form-control" type="text" id="blogTitle" name="blogTitle" value="<%= blog.title %>" placeholder="标题">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12">
							<textarea id="blogContent" name="blogContent" rows="25" cols="80" style="width: 80%">
								<%= blog.content.replace(/\\([^ts])?/g, function (_, $1) { return $1 ? ($1 === 'n' ? '\n' : $1) : _}) %>
							</textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12">
							<input type="submit" class="btn btn-primary" name="save" value="Submit" />
							<input type="reset" class="btn btn-default" name="reset" value="Reset" />
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	<!--/.main-->

	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/bootstrap-table.js"></script>
	<script src="../js/tinymce/tinymce.dev.js"></script>
	<script src="../js/tinymce/plugins/table/plugin.dev.js"></script>
	<script src="../js/tinymce/plugins/paste/plugin.dev.js"></script>
	<script src="../js/tinymce/plugins/spellchecker/plugin.dev.js"></script>
	<script src="../js/lumino.glyphs.js"></script>
	<script>
		! function($) {
			$(document).on("click", "ul.nav li.parent > a > span.icon", function() {
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function() {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function() {
			if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})

		$(function() {
			tinymce.init({
				selector: "textarea#blogContent",
				theme: "modern",
				plugins: [
					"advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker ",
					"searchreplace visualblocks visualchars code fullscreen insertdatetime nonbreaking ",
					"save table contextmenu directionality emoticons template paste noneditable codesample"

				],
				content_css: "css/development.css",
				add_unload_trigger: false,

				toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons table codesample",

				image_advtab: true,
				image_caption: true
			});
		})
	</script>
</body>

</html>
