<meta charset="utf-8">
<title>测试展示博文信息</title>
<link rel="stylesheet" href="css/prism.css">
<div>
	<%- content %>
</div>
<div>
	<%- test %>
</div>
<script src="js/prism.js"></script>
<script type="text/javascript">
	addEventListener("load", () => {
		Prism.highlightAll();
	})
</script>