$themeColor: #039BE5;
.blog {
  padding-top: 80px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(33, 33, 33);

  h1, h2, a {
    color: $themeColor;
  }

  h1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 60px;
    overflow: hidden;
  }

  h3, h4, h5, h6 {
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  p {
    color: rgb(97, 97, 97);
    margin-bottom: 8px;
  }

  blockquote {
    margin-bottom: 40px;

    p {
      display: inline;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.54);
    }
    &::before, &::after {
      font-size: 36px;
      line-height: 36px;
      color: $themeColor;
    }
    &::before {
      content: '“';
      display: inline;
    }
    &::after {
      content: '”';
      display: inline;
    }
  }

  img {
    max-width: 100%;
  }
}

.thread {
  z-index: 1;
}

@media (max-width: 480px) {
  .blog {
    padding-top: 60px;

    h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 42px;
    }

    h2 {
      font-size: 20px;
      padding-top: 15px;
      margin-top: 30px;
    }
  }
}
